.navigation {
  .pro-sidebar {
    position: fixed;
    height: 100vh;
  }

  .closemenu {
    color: $white;
    position: relative;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    cursor: pointer;
  }

  .pro-sidebar {
    width: 11%;
    min-width: 11%;
  }

  .pro-sidebar.collapsed {
    width: 6em;
    min-width: 6em;
  }

  .pro-sidebar-inner {
    background-color: $black;
    box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
  }

  .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }

  .pro-sidebar-inner .pro-sidebar-layout .logotext p {
    font-size: 20px;
    padding: 0 20px;
    color: $white;
    font-weight: bold;
  }

  .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
  }

  .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: $white;
    margin: 10px 0px;
    font-weight: bold;
  }

  .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: $white;
  }
}

.content {
  margin-left: 6em;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}