.results {
    display: flex;
    flex-direction: row;
    margin: 1%;

    .answer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .item {
        margin-top: 0.1em;
        margin-left: 1em;
        font-size: 2em;
    }

    .fiThumbsUp {
        color: green;
    }

    .fiThumbsDown {
        color: $color-4;
    }

    span {
        font-size: 2em;
    }

    h2 {
        font-size: 3em;
        margin-top: 20px;
    }

    .percent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}